img{
    border: 10em;
}
h1 {
text-align: center;
}
h2{
    text-align: center;
}
dl {
    text-align: center
}
main {
    text-align: center; margin: 20px}

footer {
    margin: 20px
}
table {
    text-align: center}